header{
    background: lightblue;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;

}
body{
    


}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 2;

    
    
}
.title {
    font-size: 2rem;
}

li {
    display: flex;
    width: 32%;;
}